@model Smart_home.Models.Co2

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Co2</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cas)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cas)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Eco2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Eco2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Etvoc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Etvoc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Raw6)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Raw6)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Raw10)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Raw10)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Odpor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Odpor)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
