@model IEnumerable<Smart_home.Models.Termostat>
@{
    ViewData["Title"] = "teplota";
}

<h1>Vytápění</h1>

<table class="table">
    <thead>
        <tr>
            @*<th>
            Id
        </th>*@
            <th>
                Místnost
            </th>
            <th>
                Umístění
            </th>
            <th>
                Aktuální teplota
            </th>
            <th>
                Nastavená teplota
            </th>
            <th>
                Nastav Teplotu
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            @*<td>
            @Html.DisplayFor(modelItem => item.Id)
        </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.Mistnost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Umisteni)
            </td>

            <td>
            <input type="text" id="vstup1" value="Jakou by si chtěl teplotu" name="teplota">
            <button name="button" value="button" asp-action="check">Potvrdit</button>
            </td>
            @*<td>
            @Html.ActionLink("Update", "Update", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>*@
        </tr>
        }
    </tbody>
</table>




@*Zobrazeni poslední venkovní teploty

    teplloty jednotlivých místností
    + tabulky pro nastaveni  aktuálních hodnot například 15 min topeni v kuchyni 100%
    + časový plán
    + nastavení časového teplotního plánu*@