@model IEnumerable<Smart_home.Models.TeplotaModel>
@{
    ViewData["Title"] = "teplota";
}

<h1>teplota</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Nazev
            </th>
            <th>
                Místnost
            </th>
            <th>
                Aktuální teplota
            </th>
            <th>
                Nastavení teploty
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NazevTeplomeru)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MistoTeplomeru)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PosledniTeplota)
            </td>
            <td>
                <input type="text" id="vstup1" name="teplota">
            </td>
            <td>
                @Html.ActionLink("Update", "Update", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
        }
    </tbody>
</table>










@*Zobrazeni poslední venkovní teploty

    teplloty jednotlivých místností
    + tabulky pro nastaveni  aktuálních hodnot například 15 min topeni v kuchyni 100%
    + časový plán
    + nastavení časového teplotního plánu*@