@model Smart_home.Models.Teploty

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Teploty</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.teplota)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.teplota)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.vlhkost)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.vlhkost)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.cas)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.cas)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
